<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bill99.base.account.deal.infrastructure.persistence.SubAcctBalanceExtMapper">
  <resultMap id="BaseResultMap" type="com.bill99.base.account.deal.domain.entity.SubAcctBalance">
    <id column="sub_acct_id" jdbcType="VARCHAR" property="subAcctId" />
    <result column="sub_acct_balance" jdbcType="BIGINT" property="subAcctBalance" />
    <result column="CREDITBALANCE" jdbcType="BIGINT" property="creditbalance" />
    <result column="DEBITBALANCE" jdbcType="BIGINT" property="debitbalance" />
    <result column="FROZENBALANCE" jdbcType="BIGINT" property="frozenbalance" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    <result column="ext4" jdbcType="VARCHAR" property="ext4" />
    <result column="ext5" jdbcType="VARCHAR" property="ext5" />
    <result column="allow_withDraw_balance" jdbcType="BIGINT" property="allowWithdrawBalance" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sub_acct_id, sub_acct_balance, CREDITBALANCE, DEBITBALANCE, FROZENBALANCE, CRT_TIME, 
    UPD_TIME, ext1, ext2, ext3, ext4, ext5, allow_withDraw_balance, version
  </sql>
  
  <!-- 手工写入，请勿覆盖 -->
  <update id="updateByPrimaryKeySelectiveForDeal" parameterType="com.bill99.base.account.deal.domain.entity.SubAcctBalance">
    update t_finder_sub_account_balance
    <set>
      <if test="subAcctBalance != null">
        sub_acct_balance = sub_acct_balance + #{subAcctBalance,jdbcType=BIGINT},
      </if>
      <if test="creditbalance != null">
        CREDITBALANCE = CREDITBALANCE + #{creditbalance,jdbcType=BIGINT},
      </if>
      <if test="debitbalance != null">
        DEBITBALANCE = DEBITBALANCE + #{debitbalance,jdbcType=BIGINT},
      </if>
      <if test="frozenbalance != null">
        FROZENBALANCE = FROZENBALANCE + #{frozenbalance,jdbcType=BIGINT},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        UPD_TIME = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null">
        ext5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="allowWithdrawBalance != null">
        allow_withDraw_balance = allow_withDraw_balance + #{allowWithdrawBalance,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = version + 1,
      </if>
    </set>
    where sub_acct_id = #{subAcctId,jdbcType=VARCHAR}
  </update>
</mapper>