<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bill99.base.account.deal.infrastructure.persistence.SubAccountMapper">
  <resultMap id="BaseResultMap" type="com.bill99.base.account.deal.domain.entity.SubAccount">
    <id column="sub_acct_id" jdbcType="VARCHAR" property="subAcctId" />
    <result column="member_code" jdbcType="VARCHAR" property="memberCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="sub_acct_name" jdbcType="VARCHAR" property="subAcctName" />
    <result column="sub_acct_type" jdbcType="VARCHAR" property="subAcctType" />
    <result column="sub_acct_description" jdbcType="VARCHAR" property="subAcctDescription" />
    <result column="sub_acct_subject" jdbcType="VARCHAR" property="subAcctSubject" />
    <result column="sub_acct_currency" jdbcType="VARCHAR" property="subAcctCurrency" />
    <result column="sub_acct_balanceby" jdbcType="VARCHAR" property="subAcctBalanceby" />
    <result column="sub_acct_interest" jdbcType="VARCHAR" property="subAcctInterest" />
    <result column="sub_acct_allow_deposit" jdbcType="VARCHAR" property="subAcctAllowDeposit" />
    <result column="sub_acct_allow_withdraw" jdbcType="VARCHAR" property="subAcctAllowWithdraw" />
    <result column="sub_acct_allow_overdraft" jdbcType="VARCHAR" property="subAcctAllowOverdraft" />
    <result column="sub_acct_allow_pay" jdbcType="VARCHAR" property="subAcctAllowPay" />
    <result column="sub_acct_level" jdbcType="VARCHAR" property="subAcctLevel" />
    <result column="sub_acct_visible" jdbcType="VARCHAR" property="subAcctVisible" />
    <result column="sub_acct_frozen" jdbcType="VARCHAR" property="subAcctFrozen" />
    <result column="sub_acct_forbid_in" jdbcType="VARCHAR" property="subAcctForbidIn" />
    <result column="sub_acct_forbid_out" jdbcType="VARCHAR" property="subAcctForbidOut" />
    <result column="create_operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    <result column="ext4" jdbcType="VARCHAR" property="ext4" />
    <result column="ext5" jdbcType="VARCHAR" property="ext5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sub_acct_id, member_code, status, sub_acct_name, sub_acct_type, sub_acct_description, 
    sub_acct_subject, sub_acct_currency, sub_acct_balanceby, sub_acct_interest, sub_acct_allow_deposit, 
    sub_acct_allow_withdraw, sub_acct_allow_overdraft, sub_acct_allow_pay, sub_acct_level, 
    sub_acct_visible, sub_acct_frozen, sub_acct_forbid_in, sub_acct_forbid_out, create_operator, 
    update_operator, CRT_TIME, UPD_TIME, ext1, ext2, ext3, ext4, ext5
  </sql>
  <select id="selectByExample" parameterType="com.bill99.base.account.deal.domain.entity.SubAccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_finder_sub_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_finder_sub_account
    where sub_acct_id = #{subAcctId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_finder_sub_account
    where sub_acct_id = #{subAcctId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bill99.base.account.deal.domain.entity.SubAccount">
    <selectKey keyProperty="subAcctId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_finder_sub_account (member_code, status, sub_acct_name, 
      sub_acct_type, sub_acct_description, sub_acct_subject, 
      sub_acct_currency, sub_acct_balanceby, sub_acct_interest, 
      sub_acct_allow_deposit, sub_acct_allow_withdraw, 
      sub_acct_allow_overdraft, sub_acct_allow_pay, 
      sub_acct_level, sub_acct_visible, sub_acct_frozen, 
      sub_acct_forbid_in, sub_acct_forbid_out, create_operator, 
      update_operator, CRT_TIME, UPD_TIME, 
      ext1, ext2, ext3, ext4, 
      ext5)
    values (#{memberCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{subAcctName,jdbcType=VARCHAR}, 
      #{subAcctType,jdbcType=VARCHAR}, #{subAcctDescription,jdbcType=VARCHAR}, #{subAcctSubject,jdbcType=VARCHAR}, 
      #{subAcctCurrency,jdbcType=VARCHAR}, #{subAcctBalanceby,jdbcType=VARCHAR}, #{subAcctInterest,jdbcType=VARCHAR}, 
      #{subAcctAllowDeposit,jdbcType=VARCHAR}, #{subAcctAllowWithdraw,jdbcType=VARCHAR}, 
      #{subAcctAllowOverdraft,jdbcType=VARCHAR}, #{subAcctAllowPay,jdbcType=VARCHAR}, 
      #{subAcctLevel,jdbcType=VARCHAR}, #{subAcctVisible,jdbcType=VARCHAR}, #{subAcctFrozen,jdbcType=VARCHAR}, 
      #{subAcctForbidIn,jdbcType=VARCHAR}, #{subAcctForbidOut,jdbcType=VARCHAR}, #{createOperator,jdbcType=VARCHAR}, 
      #{updateOperator,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, 
      #{ext5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bill99.base.account.deal.domain.entity.SubAccount">
    <selectKey keyProperty="subAcctId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_finder_sub_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberCode != null">
        member_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="subAcctName != null">
        sub_acct_name,
      </if>
      <if test="subAcctType != null">
        sub_acct_type,
      </if>
      <if test="subAcctDescription != null">
        sub_acct_description,
      </if>
      <if test="subAcctSubject != null">
        sub_acct_subject,
      </if>
      <if test="subAcctCurrency != null">
        sub_acct_currency,
      </if>
      <if test="subAcctBalanceby != null">
        sub_acct_balanceby,
      </if>
      <if test="subAcctInterest != null">
        sub_acct_interest,
      </if>
      <if test="subAcctAllowDeposit != null">
        sub_acct_allow_deposit,
      </if>
      <if test="subAcctAllowWithdraw != null">
        sub_acct_allow_withdraw,
      </if>
      <if test="subAcctAllowOverdraft != null">
        sub_acct_allow_overdraft,
      </if>
      <if test="subAcctAllowPay != null">
        sub_acct_allow_pay,
      </if>
      <if test="subAcctLevel != null">
        sub_acct_level,
      </if>
      <if test="subAcctVisible != null">
        sub_acct_visible,
      </if>
      <if test="subAcctFrozen != null">
        sub_acct_frozen,
      </if>
      <if test="subAcctForbidIn != null">
        sub_acct_forbid_in,
      </if>
      <if test="subAcctForbidOut != null">
        sub_acct_forbid_out,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
      <if test="updTime != null">
        UPD_TIME,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
      <if test="ext3 != null">
        ext3,
      </if>
      <if test="ext4 != null">
        ext4,
      </if>
      <if test="ext5 != null">
        ext5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberCode != null">
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="subAcctName != null">
        #{subAcctName,jdbcType=VARCHAR},
      </if>
      <if test="subAcctType != null">
        #{subAcctType,jdbcType=VARCHAR},
      </if>
      <if test="subAcctDescription != null">
        #{subAcctDescription,jdbcType=VARCHAR},
      </if>
      <if test="subAcctSubject != null">
        #{subAcctSubject,jdbcType=VARCHAR},
      </if>
      <if test="subAcctCurrency != null">
        #{subAcctCurrency,jdbcType=VARCHAR},
      </if>
      <if test="subAcctBalanceby != null">
        #{subAcctBalanceby,jdbcType=VARCHAR},
      </if>
      <if test="subAcctInterest != null">
        #{subAcctInterest,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowDeposit != null">
        #{subAcctAllowDeposit,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowWithdraw != null">
        #{subAcctAllowWithdraw,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowOverdraft != null">
        #{subAcctAllowOverdraft,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowPay != null">
        #{subAcctAllowPay,jdbcType=VARCHAR},
      </if>
      <if test="subAcctLevel != null">
        #{subAcctLevel,jdbcType=VARCHAR},
      </if>
      <if test="subAcctVisible != null">
        #{subAcctVisible,jdbcType=VARCHAR},
      </if>
      <if test="subAcctFrozen != null">
        #{subAcctFrozen,jdbcType=VARCHAR},
      </if>
      <if test="subAcctForbidIn != null">
        #{subAcctForbidIn,jdbcType=VARCHAR},
      </if>
      <if test="subAcctForbidOut != null">
        #{subAcctForbidOut,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null">
        #{ext5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bill99.base.account.deal.domain.entity.SubAccount">
    update t_finder_sub_account
    <set>
      <if test="memberCode != null">
        member_code = #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="subAcctName != null">
        sub_acct_name = #{subAcctName,jdbcType=VARCHAR},
      </if>
      <if test="subAcctType != null">
        sub_acct_type = #{subAcctType,jdbcType=VARCHAR},
      </if>
      <if test="subAcctDescription != null">
        sub_acct_description = #{subAcctDescription,jdbcType=VARCHAR},
      </if>
      <if test="subAcctSubject != null">
        sub_acct_subject = #{subAcctSubject,jdbcType=VARCHAR},
      </if>
      <if test="subAcctCurrency != null">
        sub_acct_currency = #{subAcctCurrency,jdbcType=VARCHAR},
      </if>
      <if test="subAcctBalanceby != null">
        sub_acct_balanceby = #{subAcctBalanceby,jdbcType=VARCHAR},
      </if>
      <if test="subAcctInterest != null">
        sub_acct_interest = #{subAcctInterest,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowDeposit != null">
        sub_acct_allow_deposit = #{subAcctAllowDeposit,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowWithdraw != null">
        sub_acct_allow_withdraw = #{subAcctAllowWithdraw,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowOverdraft != null">
        sub_acct_allow_overdraft = #{subAcctAllowOverdraft,jdbcType=VARCHAR},
      </if>
      <if test="subAcctAllowPay != null">
        sub_acct_allow_pay = #{subAcctAllowPay,jdbcType=VARCHAR},
      </if>
      <if test="subAcctLevel != null">
        sub_acct_level = #{subAcctLevel,jdbcType=VARCHAR},
      </if>
      <if test="subAcctVisible != null">
        sub_acct_visible = #{subAcctVisible,jdbcType=VARCHAR},
      </if>
      <if test="subAcctFrozen != null">
        sub_acct_frozen = #{subAcctFrozen,jdbcType=VARCHAR},
      </if>
      <if test="subAcctForbidIn != null">
        sub_acct_forbid_in = #{subAcctForbidIn,jdbcType=VARCHAR},
      </if>
      <if test="subAcctForbidOut != null">
        sub_acct_forbid_out = #{subAcctForbidOut,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        UPD_TIME = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null">
        ext5 = #{ext5,jdbcType=VARCHAR},
      </if>
    </set>
    where sub_acct_id = #{subAcctId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bill99.base.account.deal.domain.entity.SubAccount">
    update t_finder_sub_account
    set member_code = #{memberCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      sub_acct_name = #{subAcctName,jdbcType=VARCHAR},
      sub_acct_type = #{subAcctType,jdbcType=VARCHAR},
      sub_acct_description = #{subAcctDescription,jdbcType=VARCHAR},
      sub_acct_subject = #{subAcctSubject,jdbcType=VARCHAR},
      sub_acct_currency = #{subAcctCurrency,jdbcType=VARCHAR},
      sub_acct_balanceby = #{subAcctBalanceby,jdbcType=VARCHAR},
      sub_acct_interest = #{subAcctInterest,jdbcType=VARCHAR},
      sub_acct_allow_deposit = #{subAcctAllowDeposit,jdbcType=VARCHAR},
      sub_acct_allow_withdraw = #{subAcctAllowWithdraw,jdbcType=VARCHAR},
      sub_acct_allow_overdraft = #{subAcctAllowOverdraft,jdbcType=VARCHAR},
      sub_acct_allow_pay = #{subAcctAllowPay,jdbcType=VARCHAR},
      sub_acct_level = #{subAcctLevel,jdbcType=VARCHAR},
      sub_acct_visible = #{subAcctVisible,jdbcType=VARCHAR},
      sub_acct_frozen = #{subAcctFrozen,jdbcType=VARCHAR},
      sub_acct_forbid_in = #{subAcctForbidIn,jdbcType=VARCHAR},
      sub_acct_forbid_out = #{subAcctForbidOut,jdbcType=VARCHAR},
      create_operator = #{createOperator,jdbcType=VARCHAR},
      update_operator = #{updateOperator,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      UPD_TIME = #{updTime,jdbcType=TIMESTAMP},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR},
      ext5 = #{ext5,jdbcType=VARCHAR}
    where sub_acct_id = #{subAcctId,jdbcType=VARCHAR}
  </update>
</mapper>