<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 核心配置 -->
	<import resource="classpath:context/if-acms-client.xml" />
	<bean class="com.bill99.inf.acms.client.config.ConfigInitLoadingConfigurer" parent="baseConfigurer"
          lazy-init="false">
        <property name="appName" value="app-finder-deal-core"/>
        <property name="keyPatterns" value="inf.acms,mam.finder.dealcore"/>
    </bean>

</beans>
