<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="context-application-aop.xml"/>
    <import resource="context-rest.xml"/>
    <import resource="context-sequence.xml"/>
    <import resource="context-thunder-client.xml"/>
    <import resource="spring-config-acms.xml"/>
    <import resource="spring-config-db.xml"/>
</beans>
